<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css2/solid.css">
    <link rel="stylesheet" href="./css2/all.css">
    <link rel="stylesheet" href="./css2/brands.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<script>

</script>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>NetWork Application</h1>
                <p>Đăng nhập hoặc tạo thêm tài khoản</p>
                <p>Đăng nhập gần đây</p>
                <a href="" style="text-decoration: none;"><img src="./img/gaixinh2.jpg" alt=""
                        style="width: 200px;border-radius: 50%;"></a>
                <a href="" style="text-decoration: none;"><img src="./img/user-plus.jpg" alt=""
                        style="width: 200px;border-radius: 50%;"></a>
            </div>
            <div class="col-6 mgt-login" style="text-align: center;color: blue;">
                <div style="background-color: aqua;" class="f-login">
                    <form id="form-login" action="/main" method="POST">
                        <p>
                            <label for="email">Email </label><br>
                            <input class="" type="text" id="email" name="email" autofocus></input>
                        </p>
                        <p>
                            <label for="pasword">Password </label><br>
                            <input type="password" id="password" name="password"></input>
                        </p>
                        <input type="submit" value="Login" class="btn-login" style="color: blue;"></input>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>


</html>