<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css2/solid.css">
    <link rel="stylesheet" href="./css2/all.css">
    <link rel="stylesheet" href="./css2/brands.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12" style="background-color: aquamarine; position: fixed;">
                <input type="text" placeholder="search....." style="border-radius: 18px;">
                <!-- <button><a href="/" style="text-decoration: none;">Đăng Xuất</a></button> -->
            </div>
            <div class="row" style="margin: 0;">
                <div class="col-3">
                    <menu style="position: fixed; margin-top: 28px;">
                        <ul>
                            <li><a href="" style="text-decoration: none;"><img src="./img/nguyenduy.jpg" alt=""
                                        width="45px" style="border-radius: 50%;"> Nguyen Duy </a></li>
                            <li><a href="" style="text-decoration: none;"><img src="./img/friend-icon.png" alt=""
                                        width="30px" style="border-radius: 50%;"> Friend</a></li>
                            <li><a href="" style="text-decoration: none;"><img src="./img/image-icon.png" alt=""
                                        width="30px" style="border-radius: 50%;">Image</a></li>
                            <li><a href="" style="text-decoration: none;"><img src="./img/time-icon.png" alt=""
                                        width="30px" style="border-radius: 50%;">ngày này năm xưa</a></li>
                            <li><a href="" style="text-decoration: none;"><img src="./img/lich-icon.png" alt=""
                                        width="30px" style="border-radius: 50%;">Sự kiện</a></li>
                            <li><a href="/" style="text-decoration: none;"><img src="./img/dangxuat-icon.jpg" alt=""
                                        width="25px" style="border-radius: 50%;"> Đăng xuất</a></li>

                        </ul>
                    </menu>
                </div>
                <div class="col-9 right-content">
                    <div class="row" style="margin-top: 28;">
                        <col-12 class="status">
                            <span><a href="" style="text-decoration: none;"><img src="./img/nguyenduy.jpg" alt=""
                                        style="width: 50px;border-radius: 50%;"><span>Nguyen Duy</span></a></span>
                            <input type="text" placeholder="Bạn đang nghĩ gì ?" autofocus
                                style="border-radius: 18px;width: -webkit-fill-available;">
                        </col-12>

                    </div>
                    <div class="col-12 newfeed">
                        <div class="row">
                            <div class="col-12">
                                <span><a href="" style="text-decoration: none;"><img src="./img/nguyenduy.jpg" alt=""
                                            style="width: 50px;border-radius: 50%;"><span>Nguyen Duy</span></a></span>
                            </div>
                            <div class="col-12">
                                <p>Trai xưa liều chết sa trường,trai nay liều chết trên giường mỹ nhân</p>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <a href=""><img src="./img/gaixinh.jpg" alt=""></a>
                                    </div>
                                    <div class="col-12">
                                        <a href="" style="text-decoration: none;"><span><img src="./img/like-icon.png"
                                                    alt="" width="18px">590</span></a>
                                        <a href="" style="text-decoration: none;"><span><img src="./img/tym-icon.jpg"
                                                    alt="" width="18px">8k3</span></a>
                                        <a href="" style="text-decoration: none;"><span><img
                                                    src="./img/thuongthuonh-icon.jpg" alt="" width="18px">6k2</span></a>
                                        <a href="" style="text-decoration: none;"><span><img src="./img/share-icon.png"
                                                    alt="" width="18px">491</span></a>
                                    </div>
                                    <div class="col-12">
                                        <span><a href="./img/gaixinh2.jpg" style="text-decoration: none;"><img
                                                    src="./img/gaixinh2.jpg" alt="_blank"
                                                    style="width: 30px;border-radius: 50%;"></a></span>
                                        <input type="text" style="border-radius: 18px;" placeholder="nhập bình luận">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span><a href="" style="text-decoration: none;"><img src="./img/nguyenduy.jpg" alt=""
                                            style="width: 50px;border-radius: 50%;"><span>Nguyen Duy</span></a></span>
                            </div>
                            <div class="col-12">
                                <p>Trai xưa liều chết sa trường,trai nay liều chết trên giường mỹ nhân</p>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <a href=""><img src="./img/gaixinh3.jpg" alt=""></a>
                                    </div>
                                    <div class="col-12">
                                        <a href="" style="text-decoration: none;"><span><img src="./img/like-icon.png"
                                                    alt="" width="18px">590</span></a>
                                        <a href="" style="text-decoration: none;"><span><img src="./img/tym-icon.jpg"
                                                    alt="" width="18px">8k3</span></a>
                                        <a href="" style="text-decoration: none;"><span><img
                                                    src="./img/thuongthuonh-icon.jpg" alt="" width="18px">6k2</span></a>
                                        <a href="" style="text-decoration: none;"><span><img src="./img/share-icon.png"
                                                    alt="" width="18px">491</span></a>
                                    </div>
                                    <div class="col-12">
                                        <span><a href="./img/gaixinh2.jpg" style="text-decoration: none;"><img
                                                    src="./img/gaixinh2.jpg" alt="_blank"
                                                    style="width: 30px;border-radius: 50%;"></a></span>
                                        <input type="text" style="border-radius: 18px;" placeholder="nhập bình luận">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>