<div class="container">
    <div class="col-12">
        <input type="text" placeholder="search.....">
        <input type="submit" value="logout">
    </div>
    <div class="row">
        <div class="col-3" style="background-color: cadetblue;">
            user
        </div>
        <div class="col-9" style="background-color: chartreuse;">
            newfeed
        </div>
    </div>
</div>
<button><a href="/">Back</a></button>
<p>Chưa có tài khoản ? đăng kí tại đây <a href="/signup">Signup</a></p>